html {
    scroll-behavior: smooth;
}

.navbar {
    position: relative;
}

.anime-box {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(60, 5, 44);
    color: rgb(225, 219, 219);
    font-size: 8em;
    margin-bottom: 4%;
}
.card-eff {
    overflow: hidden;
}

.img-eff:hover {
    transition: transform 1.5s;
    transform: scale(1.27);
}
.cards-row {
    margin-left: auto;
    margin-right:auto;
}

.card {
    height: 40vh;
    margin: 3% 6% 0;
}

.bottom-left-img {
    font-size: 2rem;
    color:aliceblue;
    position: absolute;
    bottom: 8px;
    left: 16px;
  }