html {
    scroll-behavior: smooth;
}

.navbar {
    position: relative;
}

.anime-box {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(36, 10, 29);
    color: rgb(184, 159, 159);
    font-size: 7.5em;
    margin-bottom: 4%;
}
.card-eff {
    
    overflow: hidden;
}

.img-eff:hover {
    transition: transform 1.5s;
    transform: scale(1.27);
}
.cards-row {
    margin-left: auto;
    margin-right:auto;
}

.card {
    height: 40vh;
    margin: 3% 6% 0;
}

.bottom-left-img {
    font-size: 2rem;
    color:aliceblue;
    position: absolute;
    bottom: 8px;
    left: 16px;
  }